
# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Variables de entorno
.env
.env.production
.env.local
.env.development

# Editores y Sistema
.vscode/
.idea/
.gemini/
*.log
.DS_Store
Thumbs.db
